.rooms {
  // display: inline-block;
  background: #DEDEDE;
  width: 20%;
  min-height: 700px;
  float: left;
  padding-left: 30px;

  h4 {
    color: gray;
  }
}
.chatroom {
  // display: inline-block;
  width: 80%;
  min-height: 700px;
  float: right;

}






